{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<h3>Aquí las habitaciones para hacer click y redirigir como formulario </h3>

{{listrooms2|length}} elementos en el array.
<?php echo $_SESSION["f"]; ?>j
<hr><hr><hr>
{% set flag = 0 %}

{% for b in listrooms2 %}
  {% for r in b.data %}
    <u><h3>DÍA {{ r.date }}</h3></u><br>
      {{ r.user }} ha reservado la habitación {{b.number}} a las {% for h in r.hours %} "{{h}}", {% endfor %} horas.<br>
  {% endfor %}
{% endfor %}
<hr>********************<hr>********************<hr>
{% for b in listrooms2 %}
  {% for r in b.data %}
  {% if flag==0 %}
    <u><h3>DÍA {{ r.date }}</h3></u><br>
  {% endif %}{% set flag = 1 %}
      {% for h in r.hours %} "{{h}}", {% endfor %} horas.<br>
  {% endfor %}
{% endfor %}


<hr>*******************<hr>*******************<hr>


{% for b in listrooms2 %}
  {% for r in b.data %}
    <u><h3>DÍA {{ r.date }}</h3></u><br>
      {% for h in r.hours %} "{{h}}", {% endfor %} horas.<br>
  {% endfor %}
{% endfor %}

{% endblock %}
