{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

<form action="{{ path('intranet_edittask') }}" method="post" style="border: 1px solid;width: 500px;">

      <label>{% trans %}Title{% endtrans %}</label><input type='text' id="title" name="title" value="{{task.title}}"><BR>
      <label>{% trans %}Content{% endtrans %}</label><input type='text' id="content" name="content" value="{{task.content}}"><BR>
      <label>{% trans %}Who Create{% endtrans %}</label><input type='text' name="whocreate" id="whocreate" value="{{task.whocreate}}"><BR>
      <label>{% trans %}Users{% endtrans %}</label><br>
              {% for u in allUsers %}
              {% set flag=0 %}
                {% for us in usersWithTask %}
                    {% if u.login==us.login %}
                      <input type='checkbox' name="{{ us.login }}" id="{{ us.login }}" value="{{ us.login }}" checked>{{ us.login }}<BR>
                      {% set flag=1 %}
                    {% endif %}
                {% endfor %}
                {% if flag==0 %}
                    {% if rol!='developer' %}
                      <input type='checkbox' name="{{ u.login }}" id="{{ u.login }}" value="{{ u.login }}" >{{ u.login }}<br>
                    {% endif %}
                {% endif %}
              {% endfor %}

              {% if rol!='developer' %}
                                   <input type="submit" name="update" value="{% trans %}Modify{% endtrans %}">
                                   <input type="submit" name="delete" value="{% trans %}DELETE{% endtrans %}">
                                   <input type="hidden" name="id" value="{{task.id}}">
              {% endif %}
 </form>
{% endblock %}
