{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<h3>EXPENSES</h3><br>
 <form action="{{ path('intranet_editForm') }}" method="post" style="border: 1px solid;width: 500px;">
        <label>Company:</label><input type="text" name="company" value="{{f.company}}"><br>
        <label>Importe:</label><input type="number" step="any" name="amount" value="{{f.amount}}"> €<br>
        <label>Earlier than: </label><input type='date' id="earlier" name="earlier" value="{{f.date1}}"><BR>
        <input type="textarea" name="concept" value="{{f.concept}}"> <BR>
        {% if f.isread==0 %}
                                     <input type="submit" value="Delete" name="delete">
                                     <input type="hidden" name="typeF" value="vacations">
                                     <input type="hidden" name="id" value="{{ f.id }}">
        {% endif %}
   </form>


{% endblock %}
