{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<h3>HOURS</h3><br>
 <form action="{{ path('intranet_editForm') }}" method="post" style="border: 1px solid;width: 500px;">
        <label>Number of hours: </label><input type='number' name="numhours" id="numhours" value="{{ f.numhours }}"><BR>
        <label>Between: </label><input type='date' id="betw" name="betw" value="{{f.date1}}"><BR>
        <label>and: </label><input type='date' id="and" name="and" value="{{f.date2}}"><BR>
        {% if f.isread==0 %}
                                     <input type="submit" value="Delete" name="delete">
                                     <input type="hidden" name="typeF" value="hours">
                                     <input type="hidden" name="id" value="{{ f.id }}">
        {% endif %}
   </form>


{% endblock %}
