{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}
<h3>EXPENSES</h3><br>
 <form action="{{ path('intranet_editForm') }}" method="post" style="border: 1px solid;width: 500px;">
        <label>From: </label><input type='date' id="from" name="from" value="{{ f.date1 }}"><BR>
        <label>to: </label><input type='date' id="to" name="to" value="{{ f.date2 }}"><BR>
        <label>Where:</label><input type="text" name="where" value="{{ f.place }}"><br>
        <label>Congress<i>if any</i>:</label><input type="text" name="congress" value="{{ f.nameCongress }}"><br>
        <label>Reason:</label><input type="textarea" name="reason" value="{{ f.reasons }}"><br>
        {% if f.isread==0 %}
                                     <input type="submit" value="Delete" name="delete">
                                     <input type="hidden" name="typeF" value="vacations">
                                     <input type="hidden" name="id" value="{{ f.id }}">
        {% endif %}
   </form>


{% endblock %}
