{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}


<table border=1>
<tr >
    <th>USER</th>
    <th>LOGIN</th>
    <th>DATE</th>
    <th>TITLE</th>
    <th>CONTENT</th>
</tr>
{% for new in listnews %}
<tr>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.user }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.login }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.send }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.title }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.content }}</td>
</tr>
{% endfor %}

</table>
<br><br>

<form action="{{ path('intranet_newnew')}}" method="post" style="border: 1px solid;width: 500px;">
    <input type="submit" name="newNew" value="NEW NEW">
  </form>

{% endblock %}
