{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

<i>{% trans %}message_2{% endtrans %}</i><hr>
<table border=1>
<tr>
    <th>DATE</th>
    <th>HOUR</th>
    <th>TITLE</th>
    <th>CONTENT</th>
</tr>
{% for n in new %}
<tr>
    <td style="padding-left: 10px;padding-right: 10px;">{{ n.date|date('Y-m-d')  }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ n.time|date('H:i') }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ n.title }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">
          <form action='{{ path('intranet_crudnew') }}' method='post'>
                <input type="submit" value="VER" >
                <input type="hidden" value="{{ n.content }}" name="content">
          </form>
    </td>
</tr>
{% endfor %}
</table>

<br><br>

<form action="{{ path('intranet_newnew')}}" method="post" style="border: 1px solid;width: 500px;">
    <input type="submit" name="newNew" value="NEW NEW">
  </form>

{% endblock %}
