{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

 {% if rol!='developer' %}
 <form action="{{ path('intranet_newtask') }}" method="post" style="border: 1px solid;width: 500px;">
     <input type="submit" name="newTask" value="NEW TASK">
   </form>
 {% endif %}<br><br>

<table border=1>
<tr>
    <th>id</th>
    <th style="padding-left: 10px;padding-right: 10px;">TITLE</th>
    <th style="padding-left: 10px;padding-right: 10px;">DESCRIPTION</th>
    <th style="padding-left: 10px;padding-right: 10px;">WHO CREATE</th>
</tr>
{% for new in listTasks %}
<tr>
    <td style="padding-left: 10px;padding-right: 10px;">
    <form action='{{ path('intranet_crudtask') }}' method='post'>
          <input type="submit" value="VER" >
          <input type="hidden" value="{{ new.id }}" name="id">
    </form>
    </td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.title }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.content }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ new.whocreate }}</td>
</tr>
{% endfor %}
</table>


{% endblock %}
