{% extends 'intranetBundle::layout.html.twig' %}

 {% block contenido %}

<table border=1>
<tr >
    <th>name</th>
    <th>surname</th>
    <th>LOGIN</th>
    <th>photo</th>
</tr>
{% for intrauser in listUsers %}
<tr>
    <td style="padding-left: 10px;padding-right: 10px;">
        <form action='{{ path('intranet_settings') }}' method='post'>
              <input type="submit" value="{{ intrauser.login }}" name="login">
              <input type="hidden" value="webCuisine" name="isAdmin">
        </form>
    </td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ intrauser.nameU }}</td>
    <td style="padding-left: 10px;padding-right: 10px;">{{ intrauser.surnameu }}</td>
    <td style="padding-left: 10px;padding-right: 10px;"><img src="{{ intrauser.photo }}"></td>
</tr>
{% endfor %}
</table>
<br><hr><br>
<form action="{{ path('intranet_newuser')}}" method="post" style="border: 1px solid;width: 500px;">
    <input type="submit" name="newUser" value="NEW USER">
  </form>

{% endblock %}
